body{
    background-color:aliceblue;
}

.container{
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    background-color:rgb(201, 224, 250);
    border-color: rgb(255, 255, 255);
    border-style: solid;
    margin: 0.4em -0.2em;
    padding: 1em 2em;
    align-content: center;
}
#profiles{
    display: flex;
    flex-direction: column;
    margin: -0.4em 5em -0.4em -2em;
    padding: 1em 2em;
}

#profiles span{
    display:none;
}

@media(orientation:landscape){
    *{
        text-align: center;
    }
    #profiles{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        margin: 0em;
    }
    #profiles div{
        display: flex;
        flex-direction: column;
    }
    span img{
        box-sizing: border-box;
        border-color: rgb(255, 255, 255);
        border-style: solid;
        border-width: 0.35em;
        margin: 2em;
        max-width: 8em;
    }
    #profiles span{
        display:inline-block;
    }
    .container{
        margin: 0em;
        padding: 5em;
    }
}