body {
    color: red;
}

.mobile, .desktop {
    display: none;
}

@media (orientation: portrait) {
    body{
        color: rgb(112, 220, 247);
        background-color: black;
        text-align: center;
        padding: 5%;
    }
    .mobile{
        display: inline-block;
    }
}

@media (orientation: landscape) {
    body{
        color: rgb(0, 0, 0);
        background-color: rgb(112, 220, 247);
        text-align: center;
        padding: 5%;
    }
    .desktop{
        display: inline-block;
    }
}