body {
    background-color: blueviolet;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.hidden {
    display: none;
}

.dark-mode {
    background-color: black;
    color: aqua;
}